/* --------------basic style btn */
.btn {
    font-weight: 500;
    font-size: 13px;
    line-height: calc(20 / 13);

    border-radius: 30px;
    transition: background var(--transition), border var(--transition);
}

.general-btn {
    background-color: var(--background-gen-btn);
    border: none;
}

.general-btn:is(:hover, :focus) {
    background: var(--hover-gen-btn);
}

.secondary-btn {
    background: var(--background-def);
    border: 2px solid #7EB101;
}

.close-btn {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 0;

    border: none;
}

/* --------------mobile menu btn */
.js-open-menu {
    align-items: center;
    justify-content: center;

    line-height: 0;
    padding: 0;

    background: transparent;
    border: none;
    fill: var(--border-sec-btn);
}

.menu__close-btn {
    top: 4px;
    right: 4px;

    background: transparent;
}

/* --------------order btn*/
.header__btn,
.hero__btn {
    padding: 6px 18px;
}

.about__btn,
.secondary-btn,
.subscribe__btn {
    padding: 10px 22px;
}


.about__btn:is(:hover, :focus) {
    background: var(--hover-sec-btn);
    border-color: transparent;
}

/* --------------footer btn */
.footer__form-btn:is(:hover, :focus) {
    border-color: var(--hover-border-sec-btn);
}

/* --------------modal btn */
.modal__close-btn {
    top: 16px;
    right: 16px;

    border-radius: 100%;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
}

.modal__form-btn {
    padding: 10px 38px;
}

.modal__form-btn:is(:hover, :focus) {
    background: var(--hover-sec-btn);
}