<div class="about__wrap container">
    <div class="about__img-tumb">
        <div class="about__img-box">
            <picture class="about__picture">
                <source media="(max-width: 767px)" srcset="./img/mobile/apple.png 1x, ./img/mobile/apple@2x.png 2x"
                    width="202">
                <source media="(min-width: 1280px)" srcset="./img/apple.png 1x, ./img/apple@2x.png 2x" width="396" height="502">
                <source media="(min-width: 768px)" srcset="./img/tablet/t-apple.png 1x, ./img/tablet/t-apple@2x.png 2x"
                    width="263">
                <img srcset="./img/apple@2x.png 2x" src="./img/apple.png" alt="apple">
            </picture>
        </div>
        <div class="about__tiblet-img">
            <img srcset="./img/tablet/t-midl-aple@2x.png 2x" src="./img/tablet/t-midl-aple.png" alt="apple" style="height: 211px;" width="166">
            <img srcset="./img/tablet/t-small-aple@2x.png 2x" src="./img/tablet/t-small-aple.png" alt="apple" style="height: 136px;" width="108">
        </div>
    </div>
    <div class="about__text-box">
        <h2 class="about__title">What’s Special About Our Offerings</h2>
        <p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
            elementum tristique. Duis
            cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        <ul class="about__list">
            <li class="about__list-item">
                <span class="about__icon-box">
                    <svg class="about__item-icon" width="32" height="32">
                        <use href="./img/sprite.svg#icon-fly"></use>
                    </svg>
                </span>
                <h3 class="about__item-title">Fasest Delivery</h3>
                <p class="about__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            </li>
            <li class="about__list-item">
                <span class="about__icon-box">
                    <svg class="about__item-icon" width="32" height="32">
                        <use href="./img/sprite.svg#icon-tuch"></use>
                    </svg>
                </span>
                <h3 class="about__item-title">Easy To Order</h3>
                <p class="about__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            </li>
        </ul>
        <div class="about__btn-box">
            <button class="about__btn secondary-btn order btn" data-modal-open>Order Now</button>
            <a href="" class="about__more-btn link">
                <span class="about__more-text">Read More</span>
                <svg class="about__more-icon" width="14" height="14">
                    <use href="./img/sprite.svg#icon-more">
                    </use>
                </svg>
            </a>
        </div>
    </div>
</div>