<div class="footer__wrap container">
    <div class="footer__link-box">
        <a href="../index.html" class="logo-link link">
            <svg class="logo" width="66" height="52">
                <use href="../img/sprite.svg#icon-logo"></use>
            </svg>
        </a>
        <load="partials/navigation.html" />
    </div>
    <form class="footer__form">
        <b class="footer__form-tittle">Subscribe</b>
        <input class="footer__form-input input" type="email" required placeholder="Enter your email">
        <button class="footer__form-btn secondary-btn subscribe btn" type="submit">Subscribe</button>
        <p class="footer__form-text">By subscribing you agree to with our <a href="" class="def-link">Privacy Policy</a></p>
    </form>
    <div class="footer__bottom-box">
        <ul class="footer__bottom-list">
            <li class="footer__bottom-item"><a href="" class="def-link">Privacy Policy</a></li>
            <li class="footer__bottom-item"><a href="" class="def-link">Terms of Service</a></li>
            <li class="footer__bottom-item"><a href="" class="def-link">Cookies Settings</a></li>
        </ul>
        <p class="footer__bottom-text">2022 FoodSta. All right reserved.</p>
    </div>

</div>