<div class="header__wrap container">
  <a href="../index.html" class="logo-link link"> 
    <svg class="logo" width="66" height="52">
      <use href="../img/sprite.svg#icon-logo"></use>
    </svg>
  </a>
  <button type="button" class="js-open-menu">
    <svg class="open-menu__icon" width="28" height="28">
      <use href="../img/sprite.svg#icon-m_menu"></use>
    </svg>
  </button>
  <div class="header__box">
    <load="partials/navigation.html" />
    
    <button class="header__btn general-btn order btn" type="button" data-modal-open>Order Now</button>
  </div>
  <div class="mobile-menu js-menu-container" >
    <button class="menu__close-btn close-btn js-close-menu" type="button">
      <svg class="icon-close-btn" width="24" height="24">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <load="partials/navigation.html" />
  </div>
</div>