<nav class="navigation">
    <ul class="navigation__list">
        <li class="navigation__item">
            <a href="./" class="nav-link link active">Home</a>
        </li>
        <li class="navigation__item">
            <a href="./" class="nav-link link">About</a>
        </li>
        <li class="navigation__item">
            <a href="./" class="nav-link link">Service</a>
        </li>
        <li class="navigation__item">
            <a href="./" class="nav-link link">Menu</a>
        </li>
        <li class="navigation__item">
            <a href="./" class="nav-link link">Contact</a>
        </li>
    </ul>
</nav>