<div class="our-favorites__wrap container">
    <h2 class="our-favorites__title">Some of Our Favorites</h2>
    <p class="our-favorites__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="our-favorites__list">
        <li class="our-favorites__list-item">
            <a href="" class="our-favorites__item-link link">
                <picture>
                    <source media="(max-width: 767px)" srcset="./img/mobile/m-hamburger@2x.png 1x, ./img/mobile/m-hamburger@2x.png 2x" width="224">
                    <source media="(min-width: 1280px)" srcset="./img/hamburger.png 1x, ./img/hamburger@2x.png 2x" width="315">
                    <source media="(min-width: 767px)" srcset="./img/tablet/t-hamburger.png 1x, ./img/tablet/t-hamburger@2x.png 2x" width="268">
                    <img srcset="./img/hamburger@2x.png 2x" src="./img/hamburger.png" alt="hamburger">
                </picture>
            </a>
        </li>
        <li class="our-favorites__list-item">
            <a href="" class="our-favorites__item-link link">
                <picture>
                    <source media="(max-width: 767px)" srcset="./img/mobile/m-pasta.png 1x, ./img/mobile/m-pasta@2x.png 2x" width="224">
                    <source media="(min-width: 1280px)" srcset="./img/pasta.png 1x, ./img/pasta@2x.png 2x" width="315">
                    <source media="(min-width: 767px)" srcset="./img/tablet/t-pasta.png 1x, ./img/tablet/t-pasta@2x.png 2x" width="268">
                    <img srcset="./img/pasta@2x.png 2x" src="./img/pasta.png" alt="pasta">
                </picture>
            </a>
        </li>
        <li class="our-favorites__list-item">
            <a href="" class="our-favorites__item-link link">
                <picture>
                    <source media="(max-width: 767px)" srcset="./img/mobile/m-pizza.png 1x, ./img/mobile/m-pizza@2x.png 2x" width="224">
                    <source media="(min-width: 1280px)" srcset="./img/pizza.png 1x, ./img/pizza@2x.png 2x" width="315">
                    <source media="(min-width: 767px)" srcset="./img/tablet/t-pizza.png 1x, ./img/tablet/t-pizza@2x.png 2x" width="268">
                    <img srcset="./img/pizza@2x.png 2x" src="./img/pizza.png" alt="pizza">
                </picture>
            </a>
        </li>
        <li class="our-favorites__list-item">
            <a href="" class="our-favorites__item-link link">
                <picture>
                    <source media="(min-width: 1280px)" srcset="./img/chicken.png 1x, ./img/chicken@2x.png 2x" width="315">
                    <source media="(min-width: 767px)" srcset="./img/tablet/t-chicken.png 1x, ./img/tablet/t-chicken@2x.png 2x" width="268">
                    <img srcset="./img/chicken@2x.png 2x" src="./img/chicken.png" alt="rice with chicken">
                </picture>
            </a>
        </li>
        <li class="our-favorites__list-item">
            <a href="" class="our-favorites__item-link link">
                <picture>
                    <source media="(min-width: 1280px)" srcset="./img/salad.png 1x, ./img/salad@2x.png 2x" width="315">
                    <source media="(min-width: 767px)" srcset="./img/tablet/t-salad.png 1x, ./img/tablet/t-salad@2x.png 2x" width="268">
                    <img srcset="./img/salad@2x.png 2x" src="./img/salad.png" alt="salad">
                </picture>
            </a>
        </li>
        <li class="our-favorites__list-item">
            <a href="" class="our-favorites__item-link link">
                <picture>
                    <source media="(min-width: 1280px)" srcset="./img/tablet/t-borsch.png 1x, ./img/tablet/t-borsch@2x.png 2x" width="315">
                    <source media="(min-width: 767px)" srcset="./img/borsch.png 1x, ./img/borsch@2x.png 2x" width="268">
                    <img srcset="./img/borsch@2x.png 2x" src="./img/borsch.png" alt="borsch">
                </picture>
            </a>
        </li>
    </ul>
</div>