.header {
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.logo-link {
    line-height: 0;
}

.js-open-menu {
    display: none;
}

.header__box {
    display: flex;
    align-items: center;
    gap: 30px;
}

.mobile-menu {
    display: none;
}


@media screen and (max-width: 768px) {
    .js-open-menu {
        display: flex;
    }

    .header__box {
        display: none;
    }

    .mobile-menu.is-open {
        display: block;
        min-width: 130px;
        padding: 16px;

        position: absolute;
        top: 50px;
        right: 20px;

        z-index: 999;

        background-color: var(--background-page);
        box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
        border-radius: 30px 0px 30px 30px;
    }
}